* {
  font-family: arial, sans-serif;
}

.topbar{
	position: absolute;
    	right: 10px;
	top: 5px;
	display: inline;

}

img{
	display: block;
	margin-top: 200px;
    	margin-left: auto;
	margin-right: auto;    	
	width: 30%;
}
