* {
	font-family: arial, sans-serif;
}

.topbar{
	position: absolute;
    	right: 10px;
	top: 5px;
	display: inline;
	color: #696969;
	line-height: 24px;
	outline: none;
	vertical-align: middle;
}

img{
	display: block;
	margin-top: 160px;
    	margin-left: auto;
	margin-right: auto;    	
	width: 35%;
}

input[type=text] {
	display: block;
	width: 30%;
	padding: 10px;
	margin-left: 33%;
	margin-right: 30%;
}


a{
	color: #696969;
	text-decoration: none;
}

.buttons{
	
	position: absolute;
    	margin-left: 460px;
	margin-top: 40px;
	display: inline;
	color: #696969;
	line-height: 24px;
	outline: none;
	vertical-align: middle;
	text-align: center;
	border: 10px solid #f3f3f3; 
    	background-color: #f3f3f3;
	
}




